---
import type { ImageMetadata } from 'astro';
import SectionWrapper from '~/layouts/SectionWrapper.astro';
import IconButton from '~/components/pa-its/IconButton.astro';

interface ContactIcon {
  icon: string;
  link: string;
}

interface TeamMember {
  name: string;
  role: string;
  image: ImageMetadata;
  contactIcons: ContactIcon[];
}

export interface Props {
  id: string;
  title: string;
  subtitle: string;
  teamMembers: TeamMember[];
}

const { id, title, subtitle, teamMembers } = Astro.props;
---

<SectionWrapper id={id}>
  <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-6">
    <div class="mx-auto mb-8 max-w-screen-sm lg:mb-16">
      <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white" set:html={title} />
      <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400" set:html={subtitle} />
    </div>
    <div class="grid gap-8 lg:gap-16 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
      {
        teamMembers.map((member) => (
          <div class="text-center text-gray-500 dark:text-gray-400">
            <img class="mx-auto mb-4 w-36 h-36 rounded-full" src={member.image.src} alt={member.name} />
            <h3 class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white" set:html={member.name} />
            <p set:html={member.role} />
            <ul class="flex justify-center mt-4 space-x-4">
              {member.contactIcons.map((icon) => (
                <li>
                  <IconButton icon={icon.icon} href={icon.link} type="outlined" />
                </li>
              ))}
            </ul>
          </div>
        ))
      }
    </div>
  </div>
</SectionWrapper>
